<template>
  <div class="header">
    <div class="left">
      <span class="iconfont back-icon">&#xe624;</span>
    </div>
    <div class="input">
      <span class="iconfont">&#xe632;</span>
      City / Places / Topic /
    </div>
    <router-link to="/city">
      <div class="right">
        {{this.city}}
        <span class="iconfont arrow-icon">&#xe64a;</span>
      </div>
    </router-link>
  </div>
</template>

<script>
import {mapState} from 'vuex'
export default {
  name: 'HomeHeader',
  computed: {
    ...mapState(['city'])
  }
}
</script>

<style lang="stylus" scoped>
  @import "~@style/variable.styl"
  .header
    display: flex
    background: $Bgcolor
    line-height: .86 rem
    color: #fff
    .left
      width: .64 rem
      float: left
      .back-icon
        text-align center
        font-size .4 rem
        margin-left: .15 rem
    .input
      flex: 1
      height: .64 rem
      line-height: .64 rem
      margin-top: .12 rem
      padding-left: .2 rem
      margin-left: .2 rem
      background: #ffffff
      border-radius: .1 rem
      color: #ccc
    .right
      color #fff
      min-width 1.04 rem
      padding 0 .1rem
      float: right
      text-align: center
      .arrow-icon
        margin-left: -.04 rem
        font-size: .24 rem
</style>
