<template>
  <div class="icons">
    <swiper :options="swiperOption">
      <swiper-slide v-for="(page, index) of pages" :key="index">
        <div class="icon" v-for="item of page" :key="item.id">
          <div class="icon-img">
            <img class="icon-img-content" :src="item.imgUrl" alt="">
          </div>
          <p class="icon-desc">{{item.desc}}</p>
        </div>
      </swiper-slide>
    </swiper>
  </div>
</template>

<script>
export default {
  name: 'icons',
  props: {
    iconList: Array
  },
  data () {
    return {
      swiperOption: {
        autoplay: false
      }
    }
  },
  computed: {
    pages () {
      const pages = []
      this.iconList.forEach((val, key) => {
        const page = Math.floor(key / 8)
        if (!pages[page]) {
          pages[page] = []
        }
        pages[page].push(val)
      })
      return pages
    }
  }
}
</script>

<style lang="stylus" scoped>
  @import '~@style/variable.styl'
  @import '~@style/mixins.styl'
  .icons >>> .swiper-container
    height: 0
    padding-bottom : 50%
  .icons
    margin-top: 0rem
    touch-action none
    .icon
      position: relative
      overflow: hidden
      width: 25%
      padding-bottom: 25%
      float:left
      height: 0
      .icon-desc
        bottom: 0
        left: 0
        right: 0
        position: absolute
        height: .44 rem
        line-height: .34 rem
        color: $DarkTextColor
        text-align: center
        ellipsis()
      .icon-img
        position absolute
        top: 0
        left: 0
        right: 0
        bottom: .44 rem
        padding: .2 rem
        box-sizing border-box
        .icon-img-content
          height: 100%
          display: block
          margin: 0 auto
</style>
