<template>
  <div>
    <div class="title">HOT RECOMMEND</div>
    <ul>
        <router-link tag="li" class="item border-bottom" v-for="item of recommedList" :key="item.id" :to="'/detail/' + item.id">
          <img :src="item.imgUrl" alt="" class="item-img">
          <div class="item-info">
            <p class="item-title">{{item.title}}</p>
            <p class="item-desc">{{item.desc}}</p>
            <button class="item-button">DETAIL</button>
          </div>
        </router-link>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'recommed',
  props: {
    recommedList: Array
  }
}
</script>

<style lang="stylus" scoped>
  @import '~@style/mixins.styl'
  .title
    margin-top: .2 rem
    line-height: .8 rem
    background: #eee
    text-indent: .2 rem
  .item
    overflow: hidden
    display: flex
    height: 1.9 rem
    .item-img
      width: 1.7 rem
      height: 1.7 rem
      padding: .1 rem
    .item-info
      flex: 1
      padding: .1 rem
      min-width: 0
      .item-title
        line-height: .54rem
        font-size: .32rem
        ellipsis()
      .item-desc
        line-height: .4rem
        color: #ccc
        ellipsis()
      .item-button
        line-height: .44rem
        background: #ff9300
        padding: 0 .2rem
        border-radius: 0.06rem
        margin-top: .16rem
        color: #fff

</style>
