<template>
  <div>
    <home-header></home-header>
    <home-swiper :list="swiperList"></home-swiper>
    <home-icons :iconList="iconList"></home-icons>
    <home-recommed :recommedList="recommedList"></home-recommed>
    <home-weekend :weekendList="weekendList"></home-weekend>
  </div>
</template>

<script>
import HomeHeader from './component/header'
import HomeSwiper from './component/swiper'
import HomeIcons from './component/icons'
import HomeRecommed from './component/recommed'
import HomeWeekend from './component/weekend'
import axios from 'axios'
import {mapState} from 'vuex'

export default {
  name: 'home',
  components: {
    HomeHeader,
    HomeSwiper,
    HomeIcons,
    HomeRecommed,
    HomeWeekend
  },
  data () {
    return {
      lastCity: '',
      swiperList: [],
      iconList: [],
      recommedList: [],
      weekendList: []
    }
  },
  computed: {
    ...mapState(['city'])
  },
  methods: {
    getHomeinfo () {
      axios.get('/api/index.json?city=' + this.city)
        .then(this.getHomeinfoSucc)
    },
    getHomeinfoSucc (data) {
      data = data.data
      if (data.ret && data.data) {
        data = data.data
        this.swiperList = data.swiperList
        this.iconList = data.iconList
        this.recommedList = data.recommendList
        this.weekendList = data.weekendList
      }
    }
  },
  mounted () {
    this.lastCity = this.city
    this.getHomeinfo()
  },
  activated () {
    if (this.lastCity !== this.city) {
      this.lastCity = this.city
      this.getHomeinfo()
    }
  }
}
</script>

<style scoped>

</style>
