<template>
  <div>
    <div class="banner" @click="bannerClick">
      <img class='banner-img' :src="bannerImg" alt="">
      <div class="banner-info">
        <div class="banner-title">{{this.sightName}}</div>
        <div class="banner-number"><span class="iconfont banner-icon">&#xe692;</span>{{this.bannerImgs.length}}</div>
      </div>
    </div>
    <fade-animation>
      <common-gallery :imgs="bannerImgs" v-show="showGallery" @close="closeGallery"></common-gallery>
    </fade-animation>
  </div>
</template>

<script>
import CommonGallery from '@common/gallery/gallery'
import FadeAnimation from '@common/fade/fade'
export default {
  name: 'banner',
  props: {
    sightName: String,
    bannerImg: String,
    bannerImgs: Array
  },
  data () {
    return {
      showGallery: false,
      imgs: ['http://img1.qunarzz.com/sight/p0/1509/7a/7a684c38571c3b08.img.png_r_800x800_506dc3a3.png', 'http://img1.qunarzz.com/sight/p0/1509/7a/7a684c38571c3b08.img.png_r_800x800_506dc3a3.png']
    }
  },
  methods: {
    bannerClick () {
      this.showGallery = true
    },
    closeGallery () {
      this.showGallery = false
    }
  },
  components: {
    CommonGallery,
    FadeAnimation
  }
}
</script>

<style lang="stylus" scoped>
  .banner
    position relative
    padding-bottom 55%
    height 0
    overflow hidden
    .banner-img
      width 100%
    .banner-info
      display flex
      position absolute
      left 0
      right 0
      bottom 0
      line-height .6rem
      color #fff
      background-image linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.8))
      .banner-title
        flex 1
        font-size .32rem
        padding 0 .2rem
      .banner-number
        height .32rem
        line-height .32rem
        margin-top .14rem
        padding 0 .4rem
        border-radius .2rem
        background rgba(0, 0, 0, .8)
        font-size .24rem
        .banner-icon
          font-size .24rem
          margin-right .05rem

</style>
