<template>
  <div>
    <router-link to="/" tag="div" class="header-abs" v-show="showAbs">
      <span class="iconfont header-abs-back">&#xe624;</span>
    </router-link>
    <div class="header-fixed" v-show="!showAbs" :style="opacityStyle">
      <router-link to="/">
        <div class="iconfont header-fixed-back">&#xe624;</div>
      </router-link>
      Place Detail
    </div>
  </div>
</template>

<script>
export default {
  name: 'dheader',
  data () {
    return {
      showAbs: true,
      opacityStyle: {
        opacity: 0
      }
    }
  },
  mounted () {
    window.addEventListener('scroll', this.handleScroll)
  },
  destroyed () {
    window.removeEventListener('scroll', this.handleScroll)
  },
  methods: {
    handleScroll () {
      const top = document.documentElement.scrollTop
      if (top > 60) {
        let opacity = top / 140
        opacity = opacity > 1 ? 1 : opacity
        this.opacityStyle = { opacity }
        this.showAbs = false
      } else {
        this.showAbs = true
      }
    }
  }
}
</script>

<style lang="stylus" scoped>
@import "~@style/variable.styl"
  .header-abs
    position absolute
    left .2rem
    top .2rem
    width .8rem
    height .8rem
    text-align center
    line-height .7rem
    border-radius .4rem
    background rgba(0,0,0,0.8)
    .header-abs-back
      color #ffffff
      font-size .4rem
  .header-fixed
    z-index 2
    position fixed
    top 0
    width 375px
    color #ffffff
    height .86rem
    line-height .86rem
    text-align: center
    overflow hidden
    font-size .32rem
    background $Bgcolor
    .header-fixed-back
      position absolute
      top 0
      left 0
      width .64rem
      text-align center
      color #fff
      font-size .4rem
</style>
