<template>
  <div id="app" class="app">
    <keep-alive exclude="detail">
      <router-view/>
    </keep-alive>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style lang="stylus">
.app
  width 375px
  height 800px
  position relative
  margin 0 auto
</style>
