<template>
  <ul class="list">
    <li class="item"
        v-for="item of letters"
        :key="item"
        :ref="item"
        @click="LetterClick"
        @touchstart.prevent="touchstart"
        @touchmove="touchmove"
        @touchend="touchend"
    >{{item}}</li>
  </ul>
</template>

<script>
export default {
  name: 'alphabet',
  props: {
    cities: Object
  },
  data () {
    return {
      touchStatus: false,
      startY: 0,
      timer: null
    }
  },
  updated () {
    this.startY = this.$refs['A'][0].offsetTop
  },
  computed: {
    letters () {
      const letters = []
      for (let i in this.cities) {
        letters.push(i)
      }
      return letters
    }
  },
  methods: {
    LetterClick (e) {
      this.$emit('change', e.target.innerHTML)
    },
    touchstart () {
      this.touchStatus = true
    },
    touchmove (e) {
      if (this.touchStatus) {
        if (this.timer) { clearTimeout(this.timer) }
        this.timer = setTimeout(() => {
          const touchY = e.touches[0].clientY - 79
          const index = Math.floor((touchY - this.startY) / 20)
          if (index >= 0 && index < this.letters.length) { this.$emit('change', this.letters[index]) }
        }, 16)
      }
    },
    touchend () {
      this.touchStatus = false
    }
  }
}
</script>

<style lang="stylus" scoped>
  @import "~@style/variable.styl"
  .list
    display flex
    flex-direction column
    justify-content center
    width .4rem
    top 1.58rem
    right 0
    position absolute;
    bottom 0
    .item
      line-height .4rem
      color $Bgcolor
      text-align center
</style>
