<template>
  <div class="header">
    City Select
    <router-link to="/">
      <div class="iconfont header-back">&#xe624;</div>
    </router-link>
  </div>
</template>

<script>
export default {
  name: 'CityHeader'
}
</script>

<style lang="stylus" scoped>
  @import "~@style/variable.styl"
  .header
    position relative
    color #ffffff
    height .86rem
    line-height .86rem
    text-align: center
    overflow hidden
    font-size .32rem
    background $Bgcolor
    .header-back
      position absolute
      top 0
      left 0
      width .64rem
      text-align center
      color #fff
      font-size .4rem
</style>
