<template>
  <div>
    <div class="search">
      <input type="text" v-model="keyword" class="search-input" placeholder="enter city name">
    </div>
    <div class="search-content" ref="search" v-show="keyword">
      <ul>
        <li class="search-item border-bottom" @click='cityChange(item.spell)' v-for="item of this.list" :key="item.id">{{item.spell}}</li>
        <li class="search-item border-bottom" v-if="hasNoData">No Result</li>
      </ul>
    </div>
  </div>
</template>

<script>
import Bscroll from 'better-scroll'
import {mapMutations} from 'vuex'
export default {
  name: 'search',
  props: {
    cities: Object
  },
  methods: {
    cityChange (city) {
      this.changeCity(city)
      this.$router.push('/')
    },
    ...mapMutations(['changeCity'])
  },
  computed: {
    hasNoData () {
      return !this.list.length
    }
  },
  data () {
    return {
      keyword: '',
      list: [],
      timer: null
    }
  },
  watch: {
    keyword () {
      if (this.timer) { clearTimeout(this.timer) }
      if (!this.keyword) {
        this.list = []
        return
      }
      this.timer = setTimeout(() => {
        const result = []
        for (let i in this.cities) {
          this.cities[i].forEach((value) => {
            if (value.spell.indexOf(this.keyword) > -1 || value.name.indexOf(this.keyword) > -1) {
              result.push(value)
            }
          })
        }
        this.list = result
      }, 100)
    }
  },
  mounted () {
    this.scroll = new Bscroll(this.$refs.search)
  }
}
</script>

<style lang="stylus" scoped>
  @import "~@style/variable.styl"
  .search
    height .72rem
    padding 0 0.1rem
    background $Bgcolor
    .search-input
      height .62rem
      line-height .62rem
      text-align center
      border-radius .06rem
      width 100%
      color #666
      padding 0 .1rem
      box-sizing border-box
  .search-content
    top 1.58rem
    left 0
    bottom 0
    right 0
    overflow hidden
    z-index 1
    background #eee
    position absolute
    .search-item
      line-height .62rem
      padding-left .2rem
      background #ffffff
      color #666
</style>
